<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form class="user-names" actions="/users" method="POST">
      <div class="form-actions">
        <label for="username">User Name</label>
        <input type="text" name="username" id="username" />
      </div>
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
