doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form.user-names(actions="/users", method="POST")
            .form-actions 
                label(for="username") User name 
                input#username(type="text" name="username")
            button(type="submit") Add User