doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        main 
            if users.length > 0 
                div 
                    each user in users 
                        ul 
                            li #{user.username}

            else 
                h1 No users to show            